<div class="filters">
    <mat-form-field class="filter-field field">
        <i matPrefix class="material-icons align-icon prefix">sort</i>
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="selectedSort" (selectionChange)="sortNotes()" #filters>
          <mat-option value="default">Default</mat-option>
          <mat-option value="sort">A-Z</mat-option>
          <mat-option value="revert">Z-A</mat-option>
          <mat-option value="recent">Recent</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="search-field field">
        <i matPrefix class="material-icons align-icon prefix">search</i>
        <mat-label>Search the note by title or content</mat-label>
        <input matInput [(ngModel)]="search" #searcher>
        <a class="clear" matSuffix *ngIf="search" (click)="clearField()">
            <i class="material-icons align-icon">clear</i>
        </a>
    </mat-form-field>
</div>
<div class="content">
    <mat-list>
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let note of notes | filter : search">
        <div mat-line>{{ note.title }}</div>
        <div mat-line>{{ note.description }}</div>
        <div mat-line class="date">{{ note.date | date : 'dd/MM/yyyy' }}</div>
        <button mat-mini-fab class="btn mat-elevation-z2" color="primary" (click)="readSingleNote(note.id)">
            <i class="material-icons">edit</i>
        </button>
        <button mat-mini-fab class="btn mat-elevation-z2" color="primary" (click)="deleteNote(note.id)">
            <i class="material-icons">delete</i>
        </button>
        <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
</div>
